@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="images/dinerino.png" alt="Dino Diner Banner Image" width="300" height="300" />

<div>
    <a asp-page="Menu">Dino-Diner Menu</a>
</div>
<div>
    <a asp-page="About">About Dino-Diner</a>
</div>
<div>
    <a asp-page="Privacy">Privacy Policy</a>
</div>
