@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Hello World</h1>
<div>
    <a asp-page="Menu">Dino-Diner Menu</a>
</div>
<div>
    <a asp-page="About">About Dino-Diner</a>
</div>
<div>
    <a asp-page="Privacy">Privacy Policy</a>
</div>
