/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Style format for menu-item class, used on menu page to display menu items */
.menu-item {
    color: darkblue;
    padding:10px;
}

div.ingredient {
    text-indent: 25px;
}

.menuContainer {
    display: flex;
    flex-direction: row;
}

form {
    background-color: grey;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 10px;
    float:right;
}